.footer {
    background-color: #5c3d2e;
    color: #ffffff; 
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  